# Untracked Files

*.pyc
*.pkl
*.log
*.txt
multimario/logs/*
multimario/saved/*
supermario/logs/*
supermario/saved/*
.idea/*
.ipynb_checkpoints/*
pydial/.idea/*
pydial/.ipynb_checkpoints/*
/crp/chaptersix_result/result_order_0_0.csv
/crp/chaptersix_result/result_order_0_1.csv
/crp/chaptersix_result/result_order_0_2.csv
/crp/chaptersix_result/result_order_0_3.csv
/crp/chaptersix_result/result_order_0_4.csv
/crp/chaptersix_result/result_order_0_5.csv
/crp/chaptersix_result/result_order_0_6.csv
/crp/chaptersix_result/result_order_0_7.csv
/crp/chaptersix_result/result_order_0_8.csv
/crp/chaptersix_result/result_order_0_9.csv
/crp/chaptersix_result/result_order_1_0.csv
/crp/chaptersix_result/result_order_1_1.csv
/crp/chaptersix_result/result_order_1_2.csv
/crp/chaptersix_result/result_order_1_3.csv
/crp/chaptersix_result/result_order_1_4.csv
/crp/chaptersix_result/result_order_1_5.csv
/crp/chaptersix_result/result_order_1_6.csv
/crp/chaptersix_result/result_order_1_7.csv
/crp/chaptersix_result/result_order_1_8.csv
/crp/chaptersix_result/result_order_1_9.csv
/crp/chaptersix_result/result_sixchpt_nc_booth0.csv
/crp/chaptersix_result/result_sixchpt_nc_booth1.csv
